<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palabra en Sentimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="container">
        <button id="theme-toggle" class="button2">🌙</button>
        <h1 class="titulo">¿Cual es tu sentimiento el dia de hoy?</h1>
        <p class="subtitulo">Encuentra inspiración y consuelo en las Escrituras</p>
        <div class="buttons">
            <a href="{{ url_for('show_verse', feeling='feliz') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/happy.gif') }}" alt="Feliz">
                <span>Feliz</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='triste') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/sad.gif') }}" alt="Triste">
                <span>Triste</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='enojo') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/complaint.gif') }}" alt="Enojo">
                <span>Enojo</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='miedo') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/skeleton.gif') }}" alt="Miedo">
                <span>Miedo</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='confianza') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/yes.gif') }}" alt="Confianza">
                <span>Confianza</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='verguenza') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/sorry.gif') }}" alt="Vergüenza">
                <span>Vergüenza</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='culpa') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/harassment.gif') }}" alt="Culpa">
                <span>Culpa</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='amor') }}" class="button">
                <img src="{{ url_for('static', filename='images/icons/charity.gif') }}" alt="Amor">
                <span>Amor</span>
            </a>
            <a href="{{ url_for('show_verse', feeling='esperanza') }}" class="button"><i class="fas fa-lightbulb"></i> Esperanza</a>
            <a href="{{ url_for('show_verse', feeling='fe') }}" class="button"><i class="fas fa-cross"></i> Fe</a>
            <a href="{{ url_for('show_verse', feeling='fortaleza') }}" class="button"><i class="fas fa-dungeon"></i> Fortaleza</a>
            <a href="{{ url_for('show_verse', feeling='gloria') }}" class="button"><i class="fas fa-trophy"></i> Gloria</a>
            <a href="{{ url_for('show_verse', feeling='humildad') }}" class="button"><i class="fas fa-praying-hands"></i> Humildad</a>
            <a href="{{ url_for('show_verse', feeling='victoria') }}" class="button"><i class="fas fa-trophy"></i> Victoria</a>
        </div>
    
        </div>
        <h1 class="titulo">Dios tiene promesas con nosotros</h1>
        <p class="subtitulo">Encuentra inspiración y consuelo en las Escrituras</p>
        <div class="buttons">                            
            <a href="{{ url_for('show_verse', feeling='alabanza') }}" class="button"><i class="fas fa-music"></i> Alabanza</a>
            <a href="{{ url_for('show_verse', feeling='amistad') }}" class="button"><i class="fas fa-handshake"></i> Amistad</a>
            <a href="{{ url_for('show_verse', feeling='ayuda') }}" class="button"><i class="fas fa-hands-helping"></i> Ayuda</a>
            
            <a href="{{ url_for('show_verse', feeling='libertad') }}" class="button"><i class="fas fa-chalkboard-teacher"></i> Libertad</a>
            <a href="{{ url_for('show_verse', feeling='misericordia') }}" class="button"><i class="fas fa-heart"></i> Misericordia</a>
            <a href="{{ url_for('show_verse', feeling='perdon') }}" class="button"><i class="fas fa-hand-paper"></i> Perdón</a>
            <a href="{{ url_for('show_verse', feeling='restauracion') }}" class="button"><i class="fas fa-sync-alt"></i> Restauración<a>
            <a href="{{ url_for('show_verse', feeling='sanidad') }}" class="button"><i class="fas fa-medkit"></i> Sanidad</a>
            <a href="{{ url_for('show_verse', feeling='salvacion') }}" class="button"><i class="fas fa-shekel-sign"></i> Salvación</a>
            <a href="{{ url_for('show_verse', feeling='transformacion') }}" class="button"><i class="fas fa-exchange-alt"></i> Transformación</a>
            

        </div>
        
        <div id="verse-display" class="verse-display">
            <p>"Salmos 23:1 - El Señor es mi pastor; nada me faltará."</p>
        </div>
        <hr>
        <p>Haz clic en el botón para leer las escrituras:</p>
        <button onclick="document.getElementById('pdf-viewer').style.display='block'" style="padding: 10px 20px; font-size: 16px;">
            <i class="fas fa-book"></i> Leer la Biblia</button>
        
        <div id="pdf-viewer" style="display: none; margin-top: 20px;">
            <embed src="{{ url_for('static', filename='biblia/biblia.pdf') }}" type="application/pdf" width="100%" height="600px" />
        </div>

        <div class="bibliatodo">
         
            <div>
                
                <iframe width="300px" scrolling="no" height="400px" frameborder="0" src="https://www.bibliatodo.com/es/online/versiculo-del-dia"></iframe>
            </div>
            
            <div>
                <br>
               <br>
               <br>
                <iframe width="320" scrolling="no" height="350" frameborder="0" src="https://www.bibliatodo.com/es/online/imagendeldia"></iframe>
            </div>
            
            <div>
               <br>
               <br>
               <br>

                <iframe width="320" scrolling="no" height="310" frameborder="0" src="https://www.bibliatodo.com/es/online/videodeldia"></iframe>
            </div>
        </div>
        
        <h1>Galeria de imagenes</h1>
        <div class="gallery">
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Imagen 1" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="Imagen 2" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="Imagen 3" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="Imagen 3" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image6.jpg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image7.jpg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image8.jpeg') }}" alt="Imagen 3" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image9.jpeg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image10.webp') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image11.webp') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image12.jpg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image13.jpg') }}" alt="Imagen 3" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image14.jpg') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            <img src="{{ url_for('static', filename='images/image15.webp') }}" alt="Imagen 4" onclick="showLargeImage(this.src)">
            

        </div>
        
    </div>

    <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>

    

    <script>
        function showLargeImage(src) {
            var modal = document.getElementById("modal");
            var modalImg = document.getElementById("modal-image");
            modal.style.display = "block";
            modalImg.src = src;
        }

        function closeModal() {
            var modal = document.getElementById("modal");
            modal.style.display = "none";
        }
        const themeToggle = document.getElementById('theme-toggle');
        themeToggle.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            const isDarkMode = document.body.classList.contains('dark-mode');
            themeToggle.textContent = isDarkMode ? '🌞' : '🌙';
        });
    </script>
    <script>
        const verses = [
    "Salmos 23:1 - El Señor es mi pastor; nada me faltará.",
    "Filipenses 4:13 - Todo lo puedo en Cristo que me fortalece.",
    "Juan 14:27 - La paz os dejo, mi paz os doy.",
    "Jeremías 29:11 - Porque yo sé los planes que tengo para vosotros, dice el Señor, planes de bienestar y no de mal, para daros un futuro y una esperanza.",
    "Isaías 41:10 - No temas, porque yo estoy contigo; no desmayes, porque yo soy tu Dios que te esfuerzo; siempre te ayudaré, siempre te sustentaré con la diestra de mi justicia.",
    "Proverbios 3:5-6 - Fíate de Jehová de todo tu corazón, y no te apoyes en tu propia prudencia. Reconócelo en todos tus caminos, y él enderezará tus veredas.",
    "Romanos 8:28 - Y sabemos que a los que aman a Dios, todas las cosas les ayudan a bien.",
    "Salmos 46:1 - Dios es nuestro amparo y fortaleza, nuestro pronto auxilio en las tribulaciones.",
    "Mateo 11:28-30 - Venid a mí todos los que estáis trabajados y cargados, y yo os haré descansar. Llevad mi yugo sobre vosotros, y aprended de mí, que soy manso y humilde de corazón; y hallaréis descanso para vuestras almas.",
    "2 Timoteo 1:7 - Porque no nos ha dado Dios espíritu de cobardía, sino de poder, de amor y de dominio propio.",
    "Filipenses 4:6-7 - Por nada estéis afanosos, sino sean conocidas vuestras peticiones delante de Dios en toda oración y ruego, con acción de gracias. Y la paz de Dios, que sobrepasa todo entendimiento, guardará vuestros corazones y vuestros pensamientos en Cristo Jesús.",
    "Salmos 27:1 - El Señor es mi luz y mi salvación; ¿de quién temeré? El Señor es la fortaleza de mi vida; ¿de quién he de atemorizarme?",
    "Josué 1:9 - Mira que te mando que te esfuerces y seas valiente; no temas ni desmayes, porque Jehová tu Dios estará contigo en dondequiera que vayas.",
    "Salmos 55:22 - Echa sobre Jehová tu carga, y él te sustentará; no dejará para siempre caído al justo.",
    "Hebreos 13:5 - Sea vuestra conducta sin avaricia, contentos con lo que tenéis ahora; porque él dijo: No te desampararé, ni te dejaré.",
    "Isaías 40:31 - Pero los que esperan a Jehová tendrán nuevas fuerzas; levantarán alas como las águilas; correrán, y no se cansarán; caminarán, y no se fatigarán.",
    "1 Corintios 16:13 - Velad, estad firmes en la fe; portaos varonilmente, y esforzaos.",
    "Salmos 37:4 - Deléitate asimismo en Jehová, y él te concederá las peticiones de tu corazón."
];
function displayRandomVerse() {
    const i = Math.floor(Math.random() * verses.length);
    document.getElementById("verse-display").innerHTML = `<p>${verses[i]}</p>`;
}

// Mostrar un versículo aleatorio al cargar la página
displayRandomVerse();

// Actualizar el versículo cada 30 segundos (30000 milisegundos)
setInterval(displayRandomVerse, 15000);
    </script>
</body>
</html>
